*{
    margin:0;
    padding:0;
    color: rgb(248, 246, 246);
    
}
.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(1, 7, 7); */
    height: 80px;

}


.content1::before{
    content:"";
    position: absolute;
    inset: 0;
    
    /* background-color: black; */
    
    background:
           linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
           url(netflixbg.jpg);
    
    /* opacity: 10%; */
    background-position: center;
    opacity: 1;
    z-index: -1;

    
    height: 88.5vh;
    
    
    

}


.netflix{
    color: red;
    
}
button{
    padding: 0;
    margin:0;
}

 


input[placeholder="Email Address"]{
    font-size: 25px;
}
.box{
    background-color: black;
    /* border:2px black solid; */
    height:40vh;
    width:15vw;
    display: flex;
    justify-content: space-between;

    
}
.content2{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 50px;
    border-radius: 20px;





    overflow-x:scroll;


}
.div2{
    background-color: black;
    width: 80vw;
    position: relative;
    left:12vw;

}
.main{
    background-color: black;
    white-space: pre-wrap;
}
#ryukendo{
    height:30vh;
    width:15vw;
    border-radius: 50px;
}
#samurai{
    height:30vh;
    width:15vw;
    border-radius: 50px;
}
#cheetah{
    height:30vh;
    width:15vw;
    border-radius: 50px;
}
#doom{
    height:30vh;
    width:15vw;
    border-radius: 50px;
}
.box:hover.box{
    width: 18vw;
    height: 30vh;
    border-radius: 100px;
    cursor: pointer;
    transform: scaleX(1.1);
    transform: scaleY(1.1);
    transition:all 0.15s linear 0s ;
    box-shadow: 35px 35px 10px 10px rgb(248, 244, 244) 115px;

    }
.item{
    height: 30vh;
    width:25vw;
    border: 2px solid white;
    background-color: #52378f5f;
    border-radius: 18px;


    
}
.div3{
    display: flex;
    column-gap: 20px;

}
.div4{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;

}
.qs{
    background-color: rgba(138, 6, 6, 0.288);
    height:10vh;
    width:80vw;
    padding-left: 2vh;
    display: flex;
    align-items: center;

}
.qs:hover.qs{
    background-color:  rgba(138, 6, 6, 0.819);

}
